.add{
    text-align: center;
    background-color: rgb(17, 17, 17);
}
.addd{
    background-color: red;
}
.form-control{
    background-color: black;
    color: blanchedalmond;
}
.form{
    background-color: gray;
}